<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.diagnostics>
      <trace autoflush="true"/>
      <sources>
        <source name="citiesLogger" switchName="logSwitch" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="console" />
            <add name="logFile" />
            <remove name="Default" />
          </listeners>
        </source>
        <source name="routesLogger" switchName="logSwitch" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="console" />
            <add name="logFile" />
            <remove name="Default" />
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="logSwitch" value="Information" />
      </switches>
      <sharedListeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical"/>
        </add>
        <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="routeplanner.log" />
      </sharedListeners>
    </system.diagnostics>
    <runtime>
      <!-- set true or false to enable or disable the concurrent collector-->
      <gcConcurrent enabled="false"/>
    </runtime>
</configuration>